[Unit]
Description=Monitor processes and devices on the LAN
After=network-online.target

[Service]
ExecStart=/usr/bin/python3 /<path to>/routermonitor --service
User=<yourusername>

[Install]
WantedBy=multi-user.target
