[Unit]
Description=Monitor for new DHCP devices/clients on the router
After=network-online.target

[Service]
ExecStart=/pathto/routermonitor --service
User=me

[Install]
WantedBy=multi-user.target
