# routermonitor config file - 4.0

LogLevel            20      # Logging module levels: 10:DEBUG, 20:INFO, 30:WARNING (default), 40:ERROR, 50:CRITICAL
                                # 20:  Log new clients, and log IP and IP expiry changes
                                # 30:  Log new clients only
LogFile             log_routermonitor.txt   # Absolute path, or relative to ~/.config/routermonitor
PrintLogLength      40
ConsoleLogFormat    {levelname:>8}:  {message}
#ConsoleLogFormat    {module:>15}.{funcName:20} - {levelname:>8}:  {message}          # Default
#FileLogFormat       {asctime} {module:>15}.{funcName:20} {levelname:>8}:  {message}  # Default

# Service mode update interval
UpdateInterval      15m             # Time units: (s)econds, (m)inutes, (h)ours, (d)ays, (w)eeks

# sqlite3 DB params
DB_File             network-clients.db      # Absolute path, or relative to ~/.local/share/routermonitor
DB_Table            clients


# Formatting for --list-db and --list-dhcp-server
# hostname_field_width 25         # Adjust for longest hostname (default 25)
# device_field_width  20          # Adjust for a reasonable tradeoff between longest device name value and overall report width (default 30)
# macoui_field_width  30          # Adjust for a reasonable tradeoff between longest MACOUI value and overall report width (default 30)

# Default sort order for --list-db and --list-dhcp-server
# Command line --sort-b overrides SortBy
# SortBy              hostname    # One of hostname, IP, first_seen, last_seen, expiry, device, mac, macoui, notes (default hostname)


# Sources declares which sections within this config file will be processed (in listed order) for each DHCP clients update.
# The format is a list of strings.  In a single pfSense setup there will usually be only one source listed.
# The section names are user-defined, and found DHCP clients are merged into a single list.
Sources =           ['pfsense MIMAPI', 'pfsense unofficialAPI', 'pfsense scrape']

# A Source section declares the mode of access to DHCP lease information
# Mode options are:
    # MIM_API           Access the pfSense+ MIM API
    # Unofficial-APIV2  Access the Unofficial API V2
    # Page_Scrape       Access the pfSense GUI page Status > DHCP Leases 


[pfsense MIMAPI]
Mode =              MIM_API

# Controller_URL is the pfSense+ device that is providing the MIM API interface, typically at port 8443
Controller_URL =    https://pfsense.my.lan:8443

# Devices is a list of pfSense+ devices that are registered on the Controller_URL, eg ['pf1', 'pf2'].
# 'All' (case insensitive) queries the Controller_URL for the list of all managed devices.
# Devices =           All             # default 'All'

# CA_path is the path to the certificate authority file exported from the pfSense+ Controller_URL device (System > Certificates > Authorities > Export CA)
# This cert file is used for GUI access.  Set to False (default) to disable certificate-verified SSL access.
# CA_path =           False           # Absolute path, or relative to ~/.config/routermonitor (default False)

# Timeout sets the timeout limit for communication with the Controller_URL MIM interface
# Timeout =           5s              # default 5s

# Username and Password are the pfSense+ GUI login credentials.  These should be placed in a credentials file with user-only access permissions
import              creds_routermonitor         # Provides Username, Password - Absolute path, or relative to ~/.config/routermonitor


[pfsense unofficialAPI]
Mode =              Unofficial_APIV2

# Auth_method =       Key     # Key (default)  **NOTE:  Only the Key method is currently supported

# URL is a pfSense (+ or CE) device with the Unofficial API V2 enabled
URL =               https://pfsense.my.lan

# CA_path is the path to the certificate authority file exported from the pfSense URL device (System > Certificates > Authorities > Export CA)
# This cert file is used for GUI access.  Set to False (default) to disable certificate-verified SSL access.
# CA_path =           False           # Absolute path, or relative to ~/.config/routermonitor (default False)

# The API_key is generated at System > REST API > Keys.  (Set the System > REST API > Settings > Security > Authentication Methods to Key)
# Save the generated key to the credentials file with user-only access permissions.  (Username and Password are not used in this mode.)
import              creds_routermonitor         # Provides API_key - Absolute path, or relative to ~/.config/routermonitor


[pfsense scrape]
Mode =              Page_Scrape

# URL is a pfSense (+ or CE) device
URL =               https://pfsense.my.lan

# Timeout specifies how long to wait for each stage of the pfSense login and page access process
# Timeout =           15s             # default 15s

# CA_path is the path to the certificate authority file exported from the pfSense URL device (System > Certificates > Authorities > Export CA)
# This cert file is used for GUI access.  Set to False (default) to disable certificate-verified SSL access.
# CA_path =           False           # Absolute path, or relative to ~/.config/routermonitor (default False)

# Username and Password are the pfSense GUI login credentials.  These should be placed in a credentials file with user-only access permissions.
import              creds_routermonitor         # Provides Username, Password - Absolute path, or relative to ~/.config/routermonitor



# Email and Notification params
[SMTP]              # See https://github.com/cjnaz/cjnfuncs/blob/main/SMTP.md for setup info
import              creds_SMTP  # Provides EmailServer, EmailServerPort, EmailUser, EmailPass, EmailFrom   Absolute path, or relative to core.tool.config_dir
NotifList           4809991234@vzwpix.com  # One or more, space separated.  Use your carrier's email-to-text bridge address.  Regular email addresses may be used.
#EmailVerbose        True        # True: enable the emailer debug level
#DontEmail           True        # True: Emails (including notifications) will NOT be sent
#DontNotif           True        # True: Notifications will NOT be sent
